<%- include('partials/header', { title: 'Contact Us' , pageStylesheet: '/contact.css' }) %>
    <%- include('partials/navbar') %>
        <link rel="stylesheet" href="/css/contact.css">

        <body>
            <div class="container">
                <h1>Contact Us <br> </h1>
                <h2>Meet Team Code04</h2>
                <div class="contact-grid">
                    <div class="contact-card">
                        <img src="/assets/images/deppa.jpg" alt="Deepasha Shukla">
                        <h2>Deepasha Shukla</h2>
                        <p>Role: Team Leader</p>
                        <p>Email: <a href="mailto:deepashashukla@gmail.com">deepashashukla@gmail.com</a></p>
                        <div class="social-media">
                            <a href="https://www.instagram.com/deepashashukla" target="_blank" class="social-icon"><i
                                    class="fab fa-instagram"></i></a>
                            <a href="https://www.facebook.com/deepashashukla" target="_blank" class="social-icon"><i
                                    class="fab fa-linkedin"></i></a>
                            <a href="https://github.com/deepashashukla" target="_blank" class="social-icon"><i
                                    class="fab fa-github"></i></a>
                        </div>
                    </div>
                    <div class="contact-card">
                        <img src="/assets/images/akila.jpg" alt="Akhila Anant Gouda">
                        <h2>Akhila Anant Gouda</h2>
                        <p>Role: R&D Specialist</p>
                        <p>Email: <a href="mailto:akhilagouda94@gmail.com">akhilagouda94@gmail.com</a></p>
                        <div class="social-media">
                            <a href="https://www.instagram.com/akhilagouda" target="_blank" class="social-icon"><i
                                    class="fab fa-instagram"></i></a>
                            <a href="https://www.facebook.com/akhilagouda" target="_blank" class="social-icon"><i
                                    class="fab fa-linkedin"></i></a>
                            <a href="https://github.com/akhilagouda" target="_blank" class="social-icon"><i
                                    class="fab fa-github"></i></a>
                        </div>
                    </div>
                    <div class="contact-card">
                        <img src="/assets/images/saurabh.jpg" alt="Saurabh Kumar Gupta">
                        <h2>Saurabh Kumar Gupta</h2>
                        <p>Role: UX Designer</p>
                        <p>Email: <a href="mailto:guptasaurabh9162@gmail.com">guptasaurabh9162@gmail.com</a></p>
                        <div class="social-media">
                            <a href="https://www.instagram.com/saurabhgupta" target="_blank" class="social-icon"><i
                                    class="fab fa-instagram"></i></a>
                            <a href="https://www.facebook.com/saurabhgupta" target="_blank" class="social-icon"><i
                                    class="fab fa-linkedin"></i></a>
                            <a href="https://github.com/saurabhgupta" target="_blank" class="social-icon"><i
                                    class="fab fa-github"></i></a>
                        </div>
                    </div>
                    <div class="contact-card">
                        <img src="/assets/images/pavan.jpg" alt="Pavan Kumar Reddy">
                        <h2>Pavan Kumar Reddy</h2>
                        <p>Role: Lead Developer</p>
                        <p>Email: <a href="mailto:pavanreddy5024@gmail.com">pavanreddy5024@gmail.com</a></p>
                        <div class="social-media">
                            <a href="https://www.instagram.com/pavanreddy" target="_blank" class="social-icon"><i
                                    class="fab fa-instagram"></i></a>
                            <a href="https://www.facebook.com/pavanreddy" target="_blank" class="social-icon"><i
                                    class="fab fa-linkedin"></i></a>
                            <a href="https://github.com/pavanreddy" target="_blank" class="social-icon"><i
                                    class="fab fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('partials/footer') %>
        </body>