<%- include('partials/header', { title: 'Donation' }) %>
    <%- include('partials/navbar')%>
        <link rel="stylesheet" href="/css/donation.css">

        <body>
            <div class="container">
                <h1>Donate to EcoTrack</h1>
                <p>Your contribution helps us enhance our platform and support environmental sustainability efforts.</p>
                <div class="container">
                    <div class="image-container">
                        <img src="/assets/images/qrcode.jpg" alt="Donation Image">
                    </div>

                    <div class="bank-details">
                        <h2>Bank Details</h2>
                        <div class="details">
                            <p><strong>Bank Name:</strong> Paytm Payment Bank</p>
                            <p><strong>Account Number:</strong> 917231951970</p>
                            <p><strong>Account Holder:</strong> Saurabh Kumar Gupta</p>
                            <p><strong>IFSC Code:</strong> PYTM0123456</p>
                            <p><strong>Branch:</strong> Noida, Delhi</p>
                        </div>
                    </div>
                </div>


            </div>
        </body>

        <%- include('partials/footer') %>